<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295368984531-atj88m1np5rbeug9aef3egp492nuvuhq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295368984531-atj88m1np5rbeug9aef3egp492nuvuhq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>295368984531-r7jmvk4n040oqrp9ji19h0mr7uk8hlqg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAstQ1aKKTAZo6QUt_CifraR5E8KZhvWuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>295368984531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goldencollections.net</string>
	<key>PROJECT_ID</key>
	<string>goldencollections-637ec</string>
	<key>STORAGE_BUCKET</key>
	<string>goldencollections-637ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295368984531:ios:821e67d3b08b75fc61d126</string>
</dict>
</plist>